# Ghost dev configuration
NODE_ENV=development
GHOST_LOCAL_PORT=2368
GHOST_LOCAL_URL=http://localhost:${GHOST_LOCAL_PORT}

# Ghost mail configuration
MAIL_HOST=mail.example.com
MAIL_PORT=587
MAIL_USER=user@example.com
MAIL_PASSWORD=password
MAIL_FROM=user@example.com