@import "tailwindcss";

/* Variables Tailwind */
@theme {
	/* Couleurs */
	--color-primary: #d50169; /* Rose */
	--color-secondary: #f18825; /* Orange */
	--color-fake-black: #020a0a;
	--color-fake-white: #f0f0f0;

	/* Fonts */
	--font-sans:
		"Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--font-primary:
		"Playfair Display", ui-sans-serif, system-ui, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--font-secondary:
		"Playfair Display", ui-sans-serif, system-ui, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* Styles globaux */
h1,
h2,
h3 {
	@apply font-primary;
}
