@import "tailwindcss";

/* Variables Tailwind */
@theme {
	/* Couleurs */
	--color-primary: #d50169; /* Rose */
	--color-secondary: #f18825; /* Orange */
	--color-black: #020a0a;
	--color-white: #f0f0f0;

	/* Fonts */
	--font-display: "Inter", sans-serif;
	--font-primary: "Playfair Display", serif;
	--font-secondary: "Playfair Display", serif;
}

/* Styles globaux */
h1,
h2,
h3 {
	@apply font-primary;
}
