{{! Template pour les pages statiques (à propos, contact, etc.) }}

{{!< default}}
{{#post}}
  <h1 class="page-title text-center text-primary font-bold text-3xl mb-1">
    {{title}}
  </h1>
  <hr class="border-primary border-t-2 w-50 mx-auto">

  {{#if feature_image}}
    <img src="{{feature_image}}" alt="{{title}}" class="mx-auto" />
    <hr class="border-primary border-t-2 w-50 mx-auto">
  {{/if}}

  <div class="page-content mt-8">
    {{content}}
  </div>
{{/post}}